@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

.after-order-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    a {
        color: rgb(89, 89, 255);
        text-decoration: none;
    }
    color: white;
}

.payment {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    button {
        @include btn-styles;
    }
}