.radio {
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
    display: grid;
    place-content: center;



    &::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #ff2e88;
    }

    &:checked {
        border-color: white;

        &::before {
            transform: scale(1);
        }
    }
}