.items-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 10px;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;

    .table-header {
        th {
            backdrop-filter: blur(10px);
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid #ff2e88;
            border-radius: 0.75rem;
            padding: 1rem;
            font-size: 0.95rem;
            color: #fff;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
        }
    }

    .table-body {
        tr {
            td {
                background-color: #2a2a3b;
                padding: 12px 16px;
                font-size: 15px;
                border-radius: 0.75rem;
                text-align: center;
            }

            &:hover td {
                background-color: #3a3a4f;
            }
        }
    }
}