@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

.items-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 10px;
    color: #fff;
    font-family: $font-family-base;

    .table-header {
        th {
            @include glass-effect(1rem);
            font-size: 0.95rem;
        }
    }

    .table-body {
        tr {
            td {
                background-color: #2a2a3b;
                padding: 12px 16px;
                font-size: 15px;
                border-radius: $border-radius;
                text-align: center;
            }

            &:hover td {
                background-color: #3a3a4f;
            }
        }
    }
}