@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}

.mainbody {
  font-weight: bold;
  width: 100vw;
  min-height: calc(100vh + 175px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;

  .current-offer {
    width: 100%;
    text-align: center;
    background-color: $base-color;
    color: white;
    border-radius: $border-radius;
    padding: 3px;
  }
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #0d0c1d;
  color: white;
  flex: 1;

  &-container {
    text-align: center;
  }
}

.inside {
  background-color: #0d0c1d;
  background-image: url("../../assets/images/background2.png");
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  height: 100%;
  flex: 1;
  color: white;
  overflow: hidden;
  padding: 20px;

  .sales-container {
    width: fit-content;
    margin-top: 5px;
    height: 200px;
    border-radius: 2rem;
    background-color: #504d7a;
    display: flex;
    overflow: hidden;
    border: #504d7a 2px solid;

    @media (max-width: 768px) {
      flex-direction: column;
      height: 1000px;
    }

    .sale {
      background-image: url("../../assets/images/sale.png");
      height: 200px;
      width: 300px;
      background-size: cover;
      background-position: center;
      transition: all 0.25s ease-out;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    .sale:nth-child(2) {
      background-image: url("../../assets/images/shipping.png");
      height: 200px;
      background-size: cover;
      background-position: center;
      transition: all 0.25s ease-out;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  .recommended-products {
    width: 100%;
    display: flex;
    gap: 20px;

    @media (max-width: 768px) {
      align-items: center;
      flex-direction: column;

      .product-card {
        width: 100%;
        flex-direction: row;
        align-items: center;
        gap: 0;
        padding: 0;
        margin: 0;

        &_img {
          flex: 1;
          display: flex;
          align-items: center;
          height: 110px;
          margin: 0;
        }

        &_desc {
          flex: 1;
        }

        .sale-badge {
          left: 0;
          right: unset;
          border-radius: 0 0 0.75rem 0;
        }
      }
    }
  }
}

.animate-spin {
  font-size: 30px;
  animation: spin 2s linear infinite;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
