.toaster {
  background-color: purple;
  // backdrop-filter: blur(10px);
  // background: rgba(255, 255, 255, 0.05);
  // border: 1px solid #ff2e88;
  // border-radius: 0.75rem;
  // padding: 1rem;
  // font-size: 0.95rem;
  // color: #fff;
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.animate-spin {
  font-size: 30px;
  animation: spin 2s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
