$base-color: #ff2e88;
$secondary-color: #1a1a2e;
$dark-bg-color: #0d0c1d;
$border-radius: 0.75rem;

$default-border: 1px solid $base-color;
$thick-border: 2px solid $base-color;
$font-family-base: "Exo 2", sans-serif;
$breakpoint-tablet: 768px;