.account-panel {
    .side-nav {
        display: flex;
        flex-direction: column;
        color: #fff;
        flex-basis: 10%;
        border-right: 2px solid #ff2e88;

        &_item {
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 10px;

            &.active {
                background-color: #ff2e88;
            }

            &:hover:not(.active) {
                background-color: #ff2e8980;
            }
        }
    }

    .inside {
        display: flex;
        gap: 20px;
        border-radius: 0.75rem;
        border: 2px solid #ff2e88;
        padding: 0;
    }

    .account-inside {
        padding: 10px;
        width: fit-content;

        .buttons {
            display: flex;
            gap: 10px;
            padding: 10px 0px;

            button {
                border: 2px solid #ff2e88;
                background: transparent;
                font-weight: bold;
                color: #eaeaea;
                padding: 0.4rem 1rem;
                font-size: 1rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                border-radius: 0.75rem;
                cursor: pointer;
                transition: all 0.25s ease-in-out;
                display: flex;
                align-items: center;
                gap: 5px;

                &.active {
                    background-color: #ff2e88;
                }

            }

            button:hover {
                background-color: #ff2e88;
            }
        }

        .products {

            .product {
                display: flex;
                width: fit-content;
                display: flex;
                flex-direction: column;
                border: 2px solid #ff2e88;
                border-radius: 0.75rem;
                padding: 10px;
                background-color: #1a1a2e;
                color: white;
                margin: 10px 0px;
                width: 500px;
                justify-content: space-between;

                &-info {
                    flex: 1;
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                }

                .buttons {
                    align-items: flex-end;
                    display: flex;
                    justify-content: end;
                }
            }
        }

        .account-info-buttons {
            display: flex;
            gap: 20px;
            padding: 20px 0px;

            button {
                border: 2px solid #ff2e88;
                background: transparent;
                font-weight: bold;
                color: #eaeaea;
                padding: 0.4rem 1rem;
                font-size: 1rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                border-radius: 0.75rem;
                cursor: pointer;
                transition: all 0.25s ease-in-out;
                display: flex;
                align-items: center;
                gap: 5px;

                &.active {
                    background-color: #ff2e88;
                }

                &.disabled {
                    border-color: gray;
                    color: gray;
                    cursor: default;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }

            button:hover {
                background-color: #ff2e88;
            }
        }


        &.orders {
            display: flex;
            flex-direction: column;
            width: 100%;

            .orders-container {
                display: flex;
                flex-direction: row;
                gap: 20px;
                width: 100%;

                .order-info {
                    color: #fff;
                    font-family: 'Segoe UI', sans-serif;
                    margin-bottom: 2rem;
                    backdrop-filter: blur(10px);
                    background: rgba(255, 255, 255, 0.05);
                    border: 1px solid rgba(255, 255, 255, 0.15);
                    border-radius: 0.75rem;
                    padding: 1rem;
                    font-size: 0.95rem;
                    color: #fff;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
                    width: 100%;
                    height: fit-content;
                    position: relative;

                    .icon_button {
                        position: absolute;
                        top: 10;
                        right: 10;
                    }

                    .order-title {
                        font-size: 1.5rem;
                        font-weight: 700;
                        margin-bottom: 0.5rem;
                    }

                    .order-status {
                        font-size: 1rem;
                        color: #32cd82;

                        span {
                            font-weight: 600;
                        }
                    }

                    .order-date {
                        font-size: 0.9rem;
                        color: #ccc;
                        margin-bottom: 1rem;
                    }

                    .address-block {
                        backdrop-filter: blur(10px);
                        background: rgba(255, 255, 255, 0.05);
                        border: 1px solid #ff2e88;
                        border-radius: 0.75rem;
                        padding: 1rem;
                        font-size: 0.95rem;
                        color: #fff;
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);

                        h3 {
                            color: #ff2e88;
                            margin-bottom: 0.5rem;
                        }

                        p {
                            margin: 0.25rem 0;
                        }
                    }

                }

            }
        }


    }
}