@use "../variables" as *;
@use "../mixins" as *;

.navbar {
  background-color: $secondary-color;
  margin: 0;
  padding: 10px;
  color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-bottom: $thick-border;

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }

    &-logo {
      text-align: center;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .small_text {
        font-size: 17px;
      }
    }

    &-buttons {
      display: flex;
      gap: 20px;
      margin-right: 20px;
    }
  }

  &_buttons {
    gap: 20px;
    display: flex;
    transition: all 0.25s ease-out;

    .sale {
      -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
      animation: heartbeat 1.5s ease-in-out infinite both;
      background-color: $base-color;
    }

    &.mobile {
      flex-direction: column;
      width: 100%;
      margin: 10px 0px;
      display: none;

      &.visible {
        display: flex;
      }
    }

    a {
      @include btn-styles;
      @include glass-effect(0.4rem 1rem);
      text-decoration: none;
      color: inherit;
    }
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}