@use "../variables" as *;

.product-main {
  height: 100%;
  background-color: rgba($dark-bg-color, 0.63);
  background-image: url("../../../assets/images/background.png");
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;

  padding: 20px;
  flex: 1;
  display: flex;
  &.cart-layout {
    flex-direction: row;
    gap: 20px;
    @media (max-width: 760px) {
      flex-direction: column;
    }
  }
  flex-direction: column;
}

.product-list {
  display: flex;
  color: white;
  height: 100%;
  flex: 1;
  border-radius: $border-radius;
  border: $thick-border;
  background: linear-gradient(
    135deg,
    rgba($dark-bg-color, 0.7) 0%,
    rgba($dark-bg-color, 0.5) 100%
  );
  border-radius: 0.75rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  @media (max-width: 760px) {
    flex-direction: column;
  }

  &_filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: $thick-border;
    padding: 20px;

    &-sort {
      display: flex;
      gap: 10px;
    }

    @media (max-width: 760px) {
      border: none;
    }

    &-title {
      font-size: 30px;
      text-align: center;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }

  &_content {
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-content: start;
    height: 100%;
    width: 100%;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      overflow-y: scroll;
      justify-content: center;
    }
  }
}
